In [1]:
# Comprehensions: List, Dictionary

In [2]:
a = [1,2,3,4,5,6,7,8,9,10]
b = [i for i in a if i%2==0]
print(b)

[2, 4, 6, 8, 10]

In [8]:
a = ["Apple","Ball","Cat","zebra"]
b = [i for i in a if i[0].isupper()]
b

['Apple', 'Ball', 'Cat']

In [9]:
a = ["Apple","Ball","Cat","zebra"]
b = [i for i in a if i[0]=="A"]
b

['Apple']

In [11]:
d = {i:i**2 for i in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [12]:
a = ["Apple","Ball","Cat","zebra"]
d = {i:len(i) for i in a}
d

{'Apple': 5, 'Ball': 4, 'Cat': 3, 'zebra': 5}

In [13]:
# Date and time
import datetime

x = datetime.datetime.now()

print(x)

2022-04-15 17:30:10.964911

In [15]:
import datetime

x = datetime.datetime.now()
for i in range(5):
    print("Hello World")
y = datetime.datetime.now()
print(y-x)

Hello World
Hello World
Hello World
Hello World
Hello World
0:00:00.000999

In [19]:
import datetime

x = datetime.datetime.now()
a = "Hello World\n"
print(a*5)
y = datetime.datetime.now()
print(y-x)

Hello World
Hello World
Hello World
Hello World
Hello World

0:00:00.000998

In [22]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%c"))

Fri Apr 15 17:36:48 2022

In [23]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%D"))

04/15/22

In [24]:
import os
os.listdir()

['.ipynb_checkpoints',
 'bonus.ipynb',
 'data.csv',
 'data.txt',
 'dataframe.csv',
 'datas.csv',
 'datas.txt',
 'dictionary.ipynb',
 'file.ipynb',
 'first class.ipynb',
 'function.ipynb',
 'if-else.ipynb',
 'list.ipynb',
 'loop.ipynb',
 'new_data.csv',
 'oop.ipynb',
 'pandas.ipynb',
 'phone.csv',
 'phone.txt',
 'Set.ipynb',
 'string.ipynb',
 'tuple.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [25]:
import os
os.path.exists('datas.txt')

True

In [26]:
os.remove('datas.txt')

In [27]:
pwd

'C:\\Users\\coral\\Untitled Folder 16'

In [28]:
os.mkdir('Files')

In [29]:
import pandas as pd
data = {'Sn':[1,2,3],
       'Name':["Shyam","Nabin","Akash"],
       'Address':["Kathmandu","Bhaktapur","Lalitpur"]}

df = pd.DataFrame(data)
df.to_json('dataframe.json')
df

   Sn   Name    Address
0   1  Shyam  Kathmandu
1   2  Nabin  Bhaktapur
2   3  Akash   Lalitpur