In [1]:
# Python collections
# -List
# -Tuple
# -Dictionary
# -Set

In [2]:
# list
# -Indexed
# -Ordered
# -Mutiple data
# -Duplicate data
# -Mutable

In [3]:
a = ["Apple","Ball","Cat","Dog"]
b = [1,2,3,4,5,6,7,8,9,0,1]
print(a)
print(b)
print(type(a))
print(type(b))

['Apple', 'Ball', 'Cat', 'Dog']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
<class 'list'>
<class 'list'>

In [6]:
print(a[1])

Ball

In [10]:
a = ["Apple","Ball","Cat","Dog"]
a[0:3]

['Apple', 'Ball', 'Cat']

In [12]:
a = ["Apple","Ball","Cat","Dog"]
a[0:4:2]

['Apple', 'Cat']

In [14]:
a = ["Apple","Ball","Cat","Dog"]
b = ["Fish"]
c = b+a
print(c)

['Fish', 'Apple', 'Ball', 'Cat', 'Dog']

In [15]:
a = ["Apple","Ball","Cat","Dog"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog']

In [17]:
a = ["Apple","Ball","Cat","Dog"]
a[0] = 'Ant'
print(a)

['Ant', 'Ball', 'Cat', 'Dog']

In [18]:
a = ["Apple","Ball","Cat","Dog"]
for i in a:
    print(i)

Apple
Ball
Cat
Dog

In [20]:
a = ["Apple","Ball","Cat","Dog"]
for i in range(len(a)):
    print(a[i])

Apple
Ball
Cat
Dog

In [21]:
a = ["Apple","Ball","Cat","Dog"]
if "Apple" in a:
    print("Yes",a.count("Apple"))

Yes 1

In [24]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l +[x]
    
print(l)

Enter n = 5
Enter x = 23423
Enter x = 233244
Enter x = 36443
Enter x = 2344
Enter x = 234
[23423, 233244, 36443, 2344, 234]

In [31]:
l = [23423, 233244, 36443, 2344, 234]

print("Sum of the no = ",sum(l))
print("Min value of l = ",min(l))
print("Max value of l = ",max(l))
l.sort()
print(l)
l.reverse()
print(l)

Sum of the no =  295688
Min value of l =  234
Max value of l =  233244
[234, 2344, 23423, 36443, 233244]
[233244, 36443, 23423, 2344, 234]

In [27]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name = ")
    l = l +[x]
    
print(l)

Enter n = 5
Enter name = Ram
Enter name = Akash
Enter name = Nabin
Enter name = Suman
Enter name = Sita
['Ram', 'Akash', 'Nabin', 'Suman', 'Sita']

In [28]:
l.sort()
print(l)

['Akash', 'Nabin', 'Ram', 'Sita', 'Suman']

In [23]:
l = []
x = ["Apple"]
l+x+["Ball"]

['Apple', 'Ball']

In [32]:
# append insert extend
a = ['Akash', 'Nabin', 'Ram', 'Sita', 'Suman']
a.append("Sabin")
print(a)

['Akash', 'Nabin', 'Ram', 'Sita', 'Suman', 'Sabin']

In [33]:
a = ['Akash', 'Nabin', 'Ram', 'Sita', 'Suman']
a.insert(1,"Ritesh")
a

['Akash', 'Ritesh', 'Nabin', 'Ram', 'Sita', 'Suman']

In [34]:
a = ['Akash', 'Nabin', 'Ram', 'Sita', 'Suman']
b = [1,2,3,4]
a.extend(b)
print(a)

['Akash', 'Nabin', 'Ram', 'Sita', 'Suman', 1, 2, 3, 4]

In [36]:
a = ['Akash', 'Nabin', 'Ram', 'Sita', 'Suman']
b = [1,2,3,4]
a.append(b)
a

['Akash', 'Nabin', 'Ram', 'Sita', 'Suman', [1, 2, 3, 4]]

In [37]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name = ")
    l.append(x)
    
    print(l)

Enter n = 3
Enter name = Apple
['Apple']
Enter name = Ball
['Apple', 'Ball']
Enter name = Cat
['Apple', 'Ball', 'Cat']

In [39]:
a = ['Akash', 'Nabin', 'Ram', 'Sita', 'Suman']
a.index('Akash')

0

In [ ]:
# # del remove() pop()
# list inside list

In [1]:
a = ['Akash', 'Nabin', 'Ram', 'Sita', 'Suman']
del a[0]
print(a)

['Nabin', 'Ram', 'Sita', 'Suman']

In [2]:
a = ['Akash', 'Nabin', 'Ram', 'Sita', 'Suman']
del a[0:2]
print(a)

['Ram', 'Sita', 'Suman']

In [3]:
a = ['Akash', 'Nabin', 'Ram', 'Sita', 'Suman']
a.remove('Ram')
print(a)

['Akash', 'Nabin', 'Sita', 'Suman']

In [4]:
a = ['Akash', 'Nabin', 'Ram', 'Sita', 'Suman']
a.pop(0)
print(a)

['Nabin', 'Ram', 'Sita', 'Suman']

In [5]:
a = ['Akash', 'Nabin', 'Ram', 'Sita', 'Suman','Ram']
a.remove('Ram')
print(a)

['Akash', 'Nabin', 'Sita', 'Suman', 'Ram']

In [7]:
a = ['Akash', 'Nabin', 'Ram', 'Sita', 'Suman','Ram']
for i in a:
    if i == 'Ram':
        a.remove('Ram')
    
print(a)

['Akash', 'Nabin', 'Sita', 'Suman']

In [10]:
a = ['Akash', 'Nabin', 'Ram', 'Sita', 'Suman','Ram']
l = len(a)
for i in range(l):
    if a[i] == 'Ram':
        print(i)

2
5

In [11]:
# list inside list
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [12]:
a = [['Ram',34,'Kathmandu'],
    ['Shyam',34,'Lalitpur'],
    ['Hari',21,'Bhaktapur']]
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 34, 'Lalitpur']
['Hari', 21, 'Bhaktapur']

In [15]:
print(a[2])

['Hari', 21, 'Bhaktapur']

In [20]:
print(a[2])

['Hari', 21, 'Bhaktapur']

In [21]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = [name,age,add]
    info.append(data)
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Bhaktapur
[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur']]

In [23]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur']]
a[0][0] = 'Ram Prasad'
a

[['Ram Prasad', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur']]

In [24]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur']]
a[0]= ['Rama', 33, 'Bara']
a

[['Rama', 33, 'Bara'], ['Shyam', 45, 'Bhaktapur']]

In [33]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur']]
name = input("Enter name = ")

for i in a:
    
    if (name in i) and (i[2] == 'Kathmandu'):
        print(i)

Enter name = Ram
['Ram', 34, 'Kathmandu']

In [32]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur']]
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 45, 'Bhaktapur']

In [38]:
bill = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill.append([name,price,quantity,total])
    
print(bill)

Enter n = 2
Enter name = Apple
Enter price = 200
Enter quantity = 3
Enter name = Banana
Enter price = 100
Enter quantity = 4
[['Apple', 200, 3, 600], ['Banana', 100, 4, 400]]

In [41]:
a = [['Apple', 200, 3, 600], ['Banana', 100, 4, 400]]

a[0][3] +a[1][3]

1000

In [42]:
# WAP to create a matrix using list inside list
# r = 3
# c = 3

# m = [[1,2,3],
#     [4,5,6],
#     [7,8,9]]

# for i .....
#         for j .....