In [2]:
a = "Hello World"
b = 'Hello World'
print(a)
print(b)

Hello World
Hello World

In [3]:
print(type(a))

<class 'str'>

In [5]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [8]:
a = "Hello World\n"
print(a*10)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [10]:
a = "Hello"
b = str(10)
c = a+b
print(c)

Hello10

In [11]:
x = input("Enter x = ")
print(x)

Enter x = Apple
Apple

In [28]:
a = "Hello World"
print(a[10])

d

In [15]:
a = "Hello World"
print(a[0:5])

Hello

In [32]:
a = "Hello World"
print(a[1:11:2])   #range(0,10,2)

el ol

In [35]:
a = "Hello World"
a[-2]

'l'

In [37]:
a = "Hello World"
print(a[-1:-5:-1])

dlro

In [42]:
a = "Hello World"
print(a[-1::-1])

dlroW olleH

In [44]:
# String formatting
a = "Ram"
b = 40

info = f"Hello I am {a}. I am {b} years old." 
# info = "Hello I am " + a+ " I am "+str(b)+" years old"
print(info)

Hello I am Ram. I am 40 years old.

In [46]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"Hello I am {name}. \nI am from {add}. \nI am {age}."
print(info)

Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Hello I am Ram.
I am from Kathmandu.
I am 34.

In [50]:
names = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    names = names + f"{name} "
print(names)

Enter n = 5
Enter name = Ram
Enter name = Shyam
Enter name = Hari
Enter name = Sita
Enter name = Gita
Ram Shyam Hari Sita Gita

In [57]:
names = 'Ram Shyam Hari Sita Gita Ram'

In [59]:
name = input("Enter name = ")
if name in names:
    print("Yes")
    print(names.count(name))

Enter name = ram

In [60]:
names = 'Ram Shyam Hari Sita Gita Ram'
print(names.upper())

RAM SHYAM HARI SITA GITA RAM

In [61]:
names = 'Ram Shyam Hari Sita Gita Ram'
print(names.lower())

ram shyam hari sita gita ram

In [63]:
names = 'Ram Shyam Hari Sita Gita Ram'.lower()

name = input("Enter name = ").lower()
if name in names:
    print("Yes")
    print(names.count(name))

Enter name = RaM
Yes
2

In [66]:
# replace()
names = 'Ram Shyam Hari Sita Gita Ram'
names = names.replace('Ram','ram')
names

'ram Shyam Hari Sita Gita ram'

In [65]:
print(names)

Ram Shyam Hari Sita Gita Ram

In [67]:
# replace()
names = 'Ram Shyam Hari Sita Gita Ram'
names = names.replace('Ram','')
names

' Shyam Hari Sita Gita '