In [2]:
t = tuple()
a = (1,2,3,4,5,6)
b = ('Apple',"Ball","Cat","Dog")
print(a)
print(b)
print(t)

(1, 2, 3, 4, 5, 6)
('Apple', 'Ball', 'Cat', 'Dog')
()

In [5]:
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [6]:
# Tuple
# -Indexed
# -Multiple Values
# -Duplicate
# -Ordered
# -Imutable

In [9]:
a = ('Apple', 'Ball', 'Cat', 'Dog')
print(a[2])

Cat

In [11]:
a = ('Apple', 'Ball', 'Cat', 'Dog','Apple')
a

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')

In [12]:
# update delete create

In [13]:
a = ('Apple', 'Ball', 'Cat', 'Dog','Apple')
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Apple

In [19]:
a = ("Apple","Ball")
b = ("Cat",)
c = a+b
print(c)

('Apple', 'Ball', 'Cat')

In [17]:
b = ("Cat",)
type(b)

tuple

In [21]:
y = ()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    y = y + (x,)
    
print(y)

Enter n = 2
Enter x = 213
Enter x = 132
('213', '132')

In [23]:
a = ('Apple', 'Ball', 'Cat')
a[0] = 'Ant'

TypeError: 'tuple' object does not support item assignment

In [24]:
a = ('Apple', 'Ball', 'Cat')
list(a)

['Apple', 'Ball', 'Cat']

In [25]:
a = "Hello World"
b = list(a)
b

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [26]:
a = "Hello World"
b = tuple(a)
b

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [29]:
a = ('Apple', 'Ball', 'Cat')
b = list(a)
del b[0]
a = tuple(b)
a

('Ball', 'Cat')

In [34]:
def cal():
    return "hello","World"

print(cal())

('hello', 'World')

In [33]:
x,y = cal()
print(x)
print(y)

hello
World

In [35]:
a = ((1,2,3),
     (4,5,6),
     (7,8,9))

b = (('Ram',23,'Kathmandu'),
    ('Shyam',32,'Bhaktapur'),
    ('Hari',31,'Lalitpur'))
b

(('Ram', 23, 'Kathmandu'),
 ('Shyam', 32, 'Bhaktapur'),
 ('Hari', 31, 'Lalitpur'))

In [39]:
l = []
b = (('Ram',23,'Kathmandu'),
    ('Shyam',32,'Bhaktapur'),
    ('Hari',31,'Lalitpur'))

b = list(b)
for i in b:
    l.append(list(i))
    
l

[['Ram', 23, 'Kathmandu'],
 ['Shyam', 32, 'Bhaktapur'],
 ['Hari', 31, 'Lalitpur']]

In [41]:
a = [['Ram', 23, 'Kathmandu'],
 ['Shyam', 32, 'Bhaktapur'],
 ['Hari', 31, 'Lalitpur']]

t = ()
for i in a:
    t = t+(tuple(i),)
    
t

(('Ram', 23, 'Kathmandu'),
 ('Shyam', 32, 'Bhaktapur'),
 ('Hari', 31, 'Lalitpur'))

In [43]:
r = int(input("Enter r = "))
c = int(input("Enter c =  "))
z = []                                    #[[1,2,3],[4,5,6],[7,8,9]]
for i in range(r):
    y = []                                 # [7,8,9]
    for j in range(c):
        x = int(input("Enter x = "))
        y.append(x)                            
        
    z.append(y)

Enter r = 3
Enter c =  3
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
Enter x = 6
Enter x = 7
Enter x = 8
Enter x = 9

In [44]:
z

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]