In [2]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database = "python5pm"
)
db = database.cursor()

In [3]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\coral\anaconda3\lib\site-packages (2.2.9)

WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)

In [6]:
db.execute("SELECT * FROM profile")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Akash', 78, 89, 78, 90, 80, 412, 80, 'A')
(2, 'Nabin', 78, 89, 78, 67, 72, 120, 75, 'A')

In [7]:
sql = "INSERT INTO profile(name,physics,chemistry,math,english,nepali,total,per,grade) VALUES('Ram',78,90,67,87,98,400,80,'A')"
db.execute(sql)
database.commit()

In [9]:
name = input("Enter name = ")
physics = int(input("Enter marks = "))
chemistry = int(input("Enter marks = "))
math = int(input("Enter marks = "))
english = int(input("Enter marks = "))
nepali = int(input("Enter marks = "))
total = sum([physics,chemistry,math,english,nepali])
per = total/5
if per >= 80:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 50:
    grade = "C"
else:
    grade = "F"
    
sql = f"INSERT INTO profile(name,physics,chemistry,math,english,nepali,total,per,grade) 
VALUES('{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')"
db.execute(sql)
database.commit()

Enter name = Shyam
Enter marks = 89
Enter marks = 89
Enter marks = 67
Enter marks = 87
Enter marks = 56