In [1]:
# Dictionary
# -Indexed
# -Ordered
# -Duplicate and multiple Data
# -Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>}

In [3]:
d = {'a':"Apple",'b':"Ball",'c':"Cat"}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [5]:
print(d['b'])

Ball

In [6]:
d = {'a':"Apple",'b':"Ball",'c':"Cat",'A':'Apple'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [8]:
d = {'a':"Apple",'b':"Ball",'c':"Cat",'a':'Ant'}
print(d)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [13]:
a = ["Apple","Ball","Cat"]
a[0] = "Ant"
a

['Ant', 'Ball', 'Cat']

In [10]:
# a = dict()
a = {}
a['a'] = "Apple"
a['b'] = "Ball"
a

{'a': 'Apple', 'b': 'Ball'}

In [14]:
info = {}
info['Ram'] = 9867667654
info

{'Ram': 9867667654}

In [11]:
# {'Ram':9867667654,'Shyam':9867667654}
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info[name] = phone
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 9878778765
Enter name = Shyam
Enter age = 9867667765
{'Ram': 9878778765, 'Shyam': 9867667765}

In [15]:
a = {'Ram': 9878778765, 'Shyam': 9867667765}
for i in a:
    print(i)

Ram
Shyam

In [16]:
a = {'Ram': 9878778765, 'Shyam': 9867667765}
for i in a.values():
    print(i)

9878778765
9867667765

In [17]:
a = {'Ram': 9878778765, 'Shyam': 9867667765}
for i in a.items():
    print(i)

('Ram', 9878778765)
('Shyam', 9867667765)

In [19]:
a = {'Ram': 9878778765, 'Shyam': 9867667765}
a['Ram'] = 9867666765
a

{'Ram': 9867666765, 'Shyam': 9867667765}

In [20]:
# del pop()
a = {'Ram': 9878778765, 'Shyam': 9867667765}
del a['Ram']
a

{'Shyam': 9867667765}

In [22]:
a = {'Ram': 9878778765, 'Shyam': 9867667765}
a.pop('Ram')
a

{'Shyam': 9867667765}

In [23]:
a = {'Ram': 9878778765, 'Shyam': 9867667765}
del a['Ram':'Shyam']
a

TypeError: unhashable type: 'slice'

In [24]:
# + *

In [25]:
a = {'Ram': 9878778765, 'Shyam': 9867667765}
b = {'Hari':9867667654}
a.update(b)
a

{'Ram': 9878778765, 'Shyam': 9867667765, 'Hari': 9867667654}

In [26]:
a = {'Ram': [9878778765,9808667654], 
     'Shyam': [9867667765,980878654]}
a

{'Ram': [9878778765, 9808667654], 'Shyam': [9867667765, 980878654]}

In [28]:
a['Shyam']

[9867667765, 980878654]

In [29]:
a['Hari'] = [9867667654,9808667654]
a

{'Ram': [9878778765, 9808667654],
 'Shyam': [9867667765, 980878654],
 'Hari': [9867667654, 9808667654]}

In [30]:
a['Hari'][0] = 984000000
a

{'Ram': [9878778765, 9808667654],
 'Shyam': [9867667765, 980878654],
 'Hari': [984000000, 9808667654]}

In [31]:
del a['Hari'][0] 
a

{'Ram': [9878778765, 9808667654],
 'Shyam': [9867667765, 980878654],
 'Hari': [9808667654]}

In [33]:
a = {'Ram': [9878778765, 9808667654],
 'Shyam': [9867667765, 980878654],
 'Hari': [9808667654,9808667654]}

In [36]:
# {'Ram':9867667654,'Shyam':9867667654}
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ncell phone = "))
    
    info[name] = [ntc_phone,ncell_phone]
    
print(info)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9856556543
Enter ncell phone = 9808667656
Enter name = Shyam
Enter ntc phone = 9867667654
Enter ncell phone = 9808667654
{'Ram': [9856556543, 9808667656], 'Shyam': [9867667654, 9808667654]}

In [37]:
#### 
# {'Ram':9867667654,'Shyam':9867667654}
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone = ")
    ncell_phone = input("Enter ncell phone = ")
    
    info[name] = [ntc_phone,ncell_phone]
    
print(info)

Enter n = 2
Enter name = Ram
Enter ntc phone =
Enter ncell phone = 9808556543
Enter name = Shyam
Enter ntc phone = 98667656
Enter ncell phone =
{'Ram': ['', '9808556543'], 'Shyam': ['98667656', '']}

In [38]:
a = {"Name":["Ram","Shyam"],
     "Age":[23,34],
     "Address":["Kathmandu","Bhaktapur"]}

In [39]:
 info = {"Name":[],"Age":[],'Address':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age  = input("Enter age = ")
    add = input("Enter add = ")
    
    info['Name'].append(name)
    info['Age'].append(age)
    info['Address'].append(add)

print(info)

Enter n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur
{'Name': ['Ram', 'Shyam'], 'Age': ['78', '89'], 'Address': ['Kathmandu', 'Bhaktapur']}